## Information about variables ##

  1 Mood   
  2 Arousal
  
   3 Valence
  
  4 Activity
  
  5 Screen 
  
  6 Call made 
  
7) SMS sent

8) Duration of usage builtin apps

9) Duration of usage communication apps

10) Duration of usage entertainmant apps

11) Duration of usage finance apps

12) Duration of usage game apps

13) Duration of usage office apps

14) Duration of usage other apps

15) Duration of usage social apps

16) Duration of usage travel apps

17) Duration of usage unknown apps

18) Duration of usage utilities apps

19) Duration of usage weather apps

In [11]:
#Import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from pandas import Series

In [3]:
#Open CSV file of data
data = pd.read_csv('../datamining//dataset_mood_smartphone.csv')

### Data information###

In [4]:
# Get dimensions of the data
data.shape

(376912, 5)

In [5]:
# Listing of the different variables
data.columns

Index(['Unnamed: 0', 'id', 'time', 'variable', 'value'], dtype='object')

In [6]:
# Column types
data.dtypes

Unnamed: 0      int64
id             object
time           object
variable       object
value         float64
dtype: object

In [7]:
#Explore structure of the data
data.head()

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [8]:
data.describe()

         Unnamed: 0          value
count  3.769120e+05  376710.000000
mean   4.501273e+05      40.665313
std    5.411519e+05     273.726007
min    1.000000e+00  -82798.871000
25%    9.422875e+04       2.025000
50%    2.274385e+05       7.029000
75%    5.160412e+05      29.356000
max    1.427711e+07   33960.246000

In [15]:
data.isnull().sum()

Unnamed: 0      0
id              0
time            0
variable        0
value         202
dtype: int64

In [19]:
series = Series.from_csv('../datamining//dataset_mood_smartphone.csv', header=0)
series.head()

1    AS14.01
2    AS14.01
3    AS14.01
4    AS14.01
5    AS14.01
Name: id, dtype: object

In [ ]:
df_boxplot=data['variable'['mood']]