In [78]:
# Import required libraries
import numpy as np
import sklearn
import pandas as pd
%matplotlib inline

In [79]:
# Open dataset
data = pd.read_csv('rolling.csv')
data.columns
data.head()

,Date,mood,arousal,valence,activity,screentime..s.,other..s.,travel..s.,buu,coso,enga,fiof,teca
0,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-03-16,6.446667,-0.716667,0.356667,0.119059,4781.893192,618.958609,256.420291,985.437211,2967.657337,667.181974,273.032357,3.633293

In [80]:
data['mood'] = data['mood'].astype(str)

In [81]:
train = data[4:980]
test = data[980:]

In [82]:
# split x and y for test and training data
x_train = train.drop(['Date' ,'mood'], axis=1)
y_train = train['mood']

x_test = test.drop(['Date','mood'], axis=1)
y_test = test['mood']

x_train.shape

(976, 11)

In [83]:
# Import LDA from sklearn
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import confusion_matrix, classification_report, precision_score
from sklearn import model_selection, metrics, grid_search

In [85]:
lda = LinearDiscriminantAnalysis()
model = lda.fit(x_train, y_train)
y_train_pred = model.predict(x_train)

In [86]:
y_test_pred = model.predict(x_test)

In [87]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_test_pred)

0.008130081300813009