In [1]:
# Import required libraries
import numpy as np
import sklearn
import pandas as pd
%matplotlib inline

In [13]:
data = pd.read_csv('rolling.csv')
data.head()

,Date,mood,arousal,valence,activity,screentime..s.,other..s.,travel..s.,buu,coso,enga,fiof,teca
0,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-03-16,6.446667,-0.716667,0.356667,0.119059,4781.893192,618.958609,256.420291,985.437211,2967.657337,667.181974,273.032357,3.633293

In [14]:
data['mood'] = data['mood'].astype(str)

In [15]:
train = data[4:980]
test = data[980:]

In [16]:
# split x and y for test and training data
x_train = train.drop(['Date' ,'mood'], axis=1)
y_train = train['mood']

x_test = test.drop(['Date','mood'], axis=1)
y_test = test['mood']

x_train.shape

(976, 11)

In [17]:
# Import LDA from sklearn
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import confusion_matrix, classification_report, precision_score
from sklearn import model_selection, metrics, grid_search

In [18]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

'''
Search for the best parameters (max_features = # features to consider at each branch, n_estimators = # trees in the forest) 
using GridsearchCV
'''

parameters = {'max_features':range(3,11), 'n_estimators':range(5,20)}
clf = GridSearchCV(RandomForestClassifier(), parameters, n_jobs=4)
clf.fit(x_train, y_train)
tree_model = clf.best_estimator_
print (clf.best_score_, clf.best_params_)

/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:597: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

0.0297131147541 {'max_features': 6, 'n_estimators': 15}

In [19]:
# Create forest with the best parameters
forest = RandomForestClassifier(max_features=6, n_estimators=15, criterion='entropy')
forest.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features=6, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [20]:
y_predicted = forest.predict(x_test)
accuracy_score(y_test, y_predicted)

0.024390243902439025